/* підключення шрифтів з сайту fonts google */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;900&display=swap");

/* налаштування видимої частини вікна браузера */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  font-family: "Nunito Sans", sans-serif;
}

/* налаштування основного контейнера */
.wrapper {
  display: flex;
  align-items: center;
}

/* налаштування лівої частини контейнера */
.cover {
  filter: drop-shadow(0px 4px 24px #453f3f);
}

/* налаштування правої частини контейнера */
.content {
  background: white;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
  padding: 60px 80px;
  height: 400px;
  overflow-y: scroll;
}

/* налаштування заголовку правої частини */
h1 {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #a7a7a7;
  letter-spacing: 2px;
  margin: 0 0 40px;
  padding: 0;
}

/* загальні налаштування списку елементів */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* налаштування окремих елементів списку */
li {
  margin-bottom: 24px;
  font-size: 1rem;
}

/* налаштування підписів полів*/
label {
  cursor: pointer;
}

/* налаштування чекбоксу - зникнення */
input[type="checkbox"] {
  display: none;
}

/* налаштування чекбоксу - візуалізація необраного чекбоксу з кастомним дизайном */
input[type="checkbox"] + span {
  background: url("./images/checkbox--unchecked.svg") left top no-repeat;
  background-size: 20px 20px;
  min-height: 20px;
  padding-left: 30px;
}

/* налаштування чекбоксу - візуалізація обраного чекбоксу з кастомним дизайном та перекресленим описом*/
input[type="checkbox"]:checked + span {
  background: url("./images/checkbox--checked.svg") left top no-repeat;
  background-size: 20px 20px;
  text-decoration: line-through;
  color: #c9cdd1;
}
